.cart {
  position: absolute;
  z-index: 4;
  top: 17px;
  right: 13px;
  background: rgba(125,125,125,0.9);
  border-radius: 27px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;

  span {
    display: inline-block;
    vertical-align: top;
    width: 27px;
    height: 27px;
    background: url('../img/cart.png') center no-repeat;
    background-size: 16px 14px;
  }

}
@media (min-width: $desktop) {

  .cart {
    top: 10px;
    right: -5px;
    background: transparent;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(83, 46, 30, 0.2);
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      height: 50px;
      background: url('../img/cart-desktop.png') center no-repeat;
      background-size: 25px 21px;

    }

  }

}
@media (min-width: $desktop) {

  .cart {
    top: 10px;
    right: -5px;
  }

}


